
{% extends "cdm_home/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'cdm_home/table.css' %}">
<header>
	<h1>Contacts </h1>
	<p> </p>

	


</header>
<style>

</style>	
<body>



</body>	
<div class="grid-container">

	
	<div class="grid-item">
		  Webmaster: Tobias Caouette
			<li> tobias_caouette@bio-rad.com</li>	
	</div>

	<div class="grid-item">  
		Clinical Database Administrator: Lacey Sutton
			<li> lacey_sutton@bio-rad.com</li>

	</div>
	<div class="grid-item">
		Clinical Data Manager: David Kleppang
			<li> david_kleppang@bio-rad.com</li>
	</div>
	<div class="grid-item">
		Clinical Affairs Manager: Lisa McLaughlin
			<li> lisa_mclaughlin@bio-rad.com</li>


</div>	
		
{% endblock %}
