{% extends "cdm_home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	{% load static %}
			<link rel="stylesheet" type="text/css" href="{% static "search/login.css" %}">
	<h1>Reset User Password </h1>
	<p> Please enter your @bio-rad.com email address in the space provided below.<p>
		<form action="" method="post">
	{% csrf_token %}
	{% if form.email.errors %}
		{{ form.email.errors|as_crispy_field }}
	{% endif %}

		<p> {{ form.email|as_crispy_field }} </p>
		<input type = "submit" class="btn btn-default btn-lg" value="Reset password">
		</form>
	{% endblock %}

