

{% extends 'search/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'search/form.css' %}">
		{% if messages %}
			<div class='alert alert-success'>
			{% for message in messages %}
				{{message}}
			{%endfor%}
			</div>
		{%endif%}
<header>
<h1>Update Box pg. 2 </h1>


<h2>Box: {{object.boxid}}</h2>



</header>
<table>
<form action="" method="POST">
{% csrf_token%}

{{ form|crispy }}

<input type="submit" class="btn btn-block" value="Submit">
</form>
</table>
{% endblock %}
